.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
}

.item {
  list-style: none;
}

.container button {
  background-color: red;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
