.container {
  background-color: rgba(128, 128, 128, 0.269);
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  margin: 3rem auto;
  width: 400px;
}
